
.main-body-container {
  /*background-color: #1C4D8D;*/
  background-color: #2463b5;
  width: 100%;
}

#transparentAccordion .accordion-button.collapsed {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
}

#transparentAccordion .accordion-button {
  background-color: transparent;
  box-shadow: none;
  color: #ffffff;
}

#transparentAccordion .accordion-button:focus {
  box-shadow: none;
}

#transparentAccordion .accordion-button.collapsed::after {
  filter: invert(1);
}

#transparentAccordion .accordion-button:not(.collapsed)::after {
  filter: invert(0.5);
}

.transparent-btn {
  background-color: transparent !important;
  color: inherit;
}

.transparent-btn:hover {
  background-color: rgba(63, 63, 63, 0.226) !important;
  border-radius: 4px !important;
  color: inherit;
}