.collapse:not(.show) {
  width: 0 !important;
  overflow: hidden;
}

.collapse.show {
  transition: width 0.35s ease;
}

.navbar {
  background-color: #0F2854;
}

.list-container {
  background-color: #1C4D8D;
}

.list { 
  width: 100%;
  background-color: white;
}

.task { 
  width: 100%;
  --bs-card-cap-padding-y: 1px;
  --bs-card-cap-bg: white;
  
}

#transparentAccordion .accordion-button.collapsed {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
}

#transparentAccordion .accordion-button {
  background-color: transparent;
  box-shadow: none;
  color: #ffffff;
}

#transparentAccordion .accordion-button:focus {
  box-shadow: none;
}

#transparentAccordion .accordion-button.collapsed::after {
  filter: invert(1);
}

#transparentAccordion .accordion-button:not(.collapsed)::after {
  filter: invert(0.5);
}